DOTFILES_DIRECTORY="/home/user/.dotfiles"
KUBERNETES_MANIFESTS_DIRECTORY="~/git/kubernetes-manifests"
GIT_EMAIL="user@example.com"
GIT_USERNAME="user"
USER_FULL_NAME="Full Name"
PINENTRY_PROGRAM_PATH="/usr/bin/pinentry-curses"
#PINENTRY_PROGRAM_PATH="/usr/local/MacGPG2/libexec/pinentry-mac.app/Contents/MacOS/pinentry-mac"
