[user]
  name = Michael Rowland
  email = michael@mikansystems.com

[color]
  ui = true
[core]
  excludesFile = ~/.gitignore
  pager = delta
[delta]
  line-numbers = true
[interactive]
  diffFilter = delta --color-only

[grep]
  lineNumber = true

[init]
  defaultBranch = main

[pull]
  rebase = true
[push]
  default = current

[url "git@github.com:"]
  insteadOf = "github:"
[url "https://github.com:"]
  insteadOf = "github:"

[alias]
  a = add

  b = branch
  bl = branch -vv
  bd = branch --delete --force

  c = checkout
  cl = checkout -
  # cb = "!f() { checkout --branch $(date +'%Y%m%')-${1} }; f"
  cb = "!f() { git checkout -b \"mrowland/$(date +'%Y%m%d')/${1}\"; }; f"
  cbfeat = "!f() { git checkout -b \"feat/${1}\"; }; f"
  cbfix = "!f() { git checkout -b \"fix/${1}\"; }; f"

  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cpq = cherry-pick --quit

  cdate = show -s --format=%cd --date=iso HEAD
  chash = rev-parse --short HEAD
  chashf = rev-parse HEAD

  cm = commit --message
  # cam = commit --add --message
  can = commit --amend --no-edit

  l = log --pretty=oneline --graph

  p = pull

  pu = push
  puf = push --force-with-lease
  puff = push --force

  r = rebase
	ra = rebase --abort
	rc = rebase --continue
	rq = rebase --quit
  rs = rebase --skip

  re = reset
	res = reset --soft
	reh = reset --hard

  s = status

  st = stash
  stp = stash pop

  # TODO: make work with ssh proto origins (i.e. github:user/reop or git@github.com:user/repo)
  # TODO: improve cross-platform (linux/mac) operation
  # open = "!f() { URL=$(git config remote.${1:-origin}.url); xdg-open \"${URL%%.git}\" || open \"${URL%%.git}\"; }; f"

  whoami = "!echo $(git config --get user.name) '<'$(git config --get user.email)'>'"

  git = "!git"


[includeIf "gitdir:~/git/foursquare/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/git/factual/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/git/placed/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/git/mrowlandfsq/"]
  path = ~/.gitconfig-work
